*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.menuVideo{
    width: 649px;
    height: 244px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Fondo-pginas, #F2F2F2);
    box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
}

.cerrar{
    float: right;
    border: aliceblue;
}

.titulo{
    margin-top: 10px;
}
    
h5{
    color: var(--Logo-2, #09244B);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 38px;
}
    
.botones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
    
    
#agregarMusica {
    display: flex;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: #5D00B9;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}
    
#compartirMusica {
    display: flex;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 2px solid #09244B;
    background: #FFFFF3;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}
    
    /*Media Querys*/  
        
    @media screen and (max-width: 768px) {
    
    
    
    }