*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: white;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  ::-moz-selection {
    background-color: black;
    color: black;
  }
  
  ::selection {
    background-color: black;
    color: var(--blanco);
  }
  
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Código */
  .header{
    width:100%;
    background-color: white;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:black;
    border-bottom: 1px solid #09244B; 
  }
  
  #logo{
    float: left;
    color:rgba(9, 36, 75, 1);
    Height: 40px;
    padding: 5px;
    margin: 0 60 0 0;
  }
  
  .header .button{
    display: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    fill:white;
  }
  
  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .header .li{
    margin: 0 2.5em;
  }

  a.sesion {
    display: contents;
  }

  /*Barra de progreso*/
  .barraProgreso{
    background-color:  #FAF9F9;;
    padding: 0.5em;
  }

  .titulo{
  color:  #CC00FF;
  font-family: Lato;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  }

  .contenido{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    align-items: stretch;
  }
  
  .texto{
    padding: 5px;
  }

  .imagen{
    padding: 5px;

  }

/*imagen*/
  #imagen{
    margin-right: 52px;
    border-radius: 4px;
    border: 1px solid #000;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin:0px;
  }

  img#imagen {
    max-width: 100%;
    height: 100%;
  }

   /* Puedes personalizar el estilo según tus necesidades */
  textarea {
    width: 400px;
    height: 420px;
    resize: vertical; /* Esto permite redimensionar solo verticalmente */
    padding: 5px; /* Agregar algún espacio interno para que se vea más parecido a un input */
    border-radius: 4px;
    background: #FFF;
  }

  .voz{
    color: #000;
    /*text-align: center;*/
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-left: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .botones{
    display: flex;
    padding: 10px;
    margin-left: 100px;
  }
  
  .botonaudio{
    display: inline-flex;
    padding: 2px 24px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 4px;
    border: 2px solid #09244B;
    background: #FFFFF3;
    cursor: pointer;
    margin: 7px;
    color: #00020A;
    font-size: 14px;
    font-weight: bold;
  }

  .continuar{
    display: inline-flex;
    width: 146px;
    height: 36px;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: #5D00B9;
    color: white;
    margin-left: 555px;
    font-size: 14px;
    font-weight: bold;
  }

  img#parrafo {
    width: 14.989px;
    height: 19px;
    fill: #000;
  }

  /*Footer*/
  .navbarfooter{
    border-top: 1px solid #09244B;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F9;
    padding: 1em;
  }

  .footer {
    color: #09244B;
    font-size: 14px;
    font-weight: bold;
  }

    /*Media Querys*/  
    
    @media screen and (max-width: 768px) {
      /* Tu código para dispositivos móviles aquí */
    
    .header .button{
      display: block;
      cursor: pointer;
      background-color: white;
    }

    .header .nav{
      width:100%;
      height:0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .header .nav.activo{
      height: 20vh;
      pointer-events: auto;
      margin: 38px 0px 0px 0px;
    }
    
    .header .ul{
      flex-direction: column;
    }
    
    .header .li{
      margin: 1rem 0;
    }

    a.sesion {
      display: none;
    }

    .barraProgreso {
      padding: 0.5em;
      width: 100%;
      box-sizing: border-box;
   }

    .titulo {
        font-size: 24px; 
        text-align: center; 
    }
    
    .contenido {
      flex-wrap: wrap;
      margin-left: 0px;
      margin-right: 0px;
    }

    .voz {
      color: #000;
      font-family: Lato;
      font-weight: bold;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 5px;
      font-size: 19px;
    }

    .continuar {
      margin-left: 0;
      margin-top: 10px;
    }

    .botones {
      flex-direction: column;
      align-items: center; 
      margin-left: 0; 
    }

    .botonaudio, .continuar {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .continuar {
      width: 100%; 
      margin-left: 0; 
      margin-top: 10px;
    }

    img#parrafo{
      width: 9px;
    }

    textarea#texto {
      width: 350px;
      height: 212px; 
      max-height: 100%; 
      margin-bottom: 10px;
  }

    .imagen {
        margin-right: 0; 
    }

    img#imagen {
        max-width: 100%; 
        height: auto; 
    }

    .footer {
      margin: 10px 10px 10px 10px;
      font-size: 13px;
    }

    .navbarfooter {
    padding: 7px;
    width: 100%;
    }
}