*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: white;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  ::-moz-selection {
    background-color: black;
    color: black;
  }
  
  ::selection {
    background-color: black;
    color: var(--blanco);
  }
  
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* C贸digo */
  .header{
    width:100%;
    background-color: #FAF9F9;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:black;
    border-bottom: 1px solid #09244B; 
  }
  
  #logo{
    float: left;
    color:rgba(9, 36, 75, 1);
    Height: 40px;
    padding: 5px;
    margin: 0 60 0 0;
  }
  
  .header .button{
    display: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    fill:white;
  }
  
  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .header .li{
    margin: 0 2.5em;
  }

  a.sesion {
    display: contents;
    color: #09244B;
  }

  /*Barra de progreso*/
  .barraProgreso{
    background-color:  #FAF9F9;
  }

  img.imagenBarra {
    padding: 0.5%;
    width: 100%;
    height: 13%;
  }

  .menu{
    background-color: #f2f2f2;
  }

  .titulo{
    color:  #CC00FF;
    font-weight:600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    padding: 10 0 10 0;
    }

  .contenido{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    align-items: stretch;
    height: 55%;
  }
 

/*imagen*/
  #imagen{
    margin-right: 52px;
    border-radius: 4px;
    border: 1px solid #000;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin:0px;
  }

  img#imagen {
    max-width: 100%;
    height: 100%;
  }

  .storytellin {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    color: #09244B80;
    width: 399px;
    height: 30px;
    background: #FFF;
    border-bottom: 1px solid #09244B;
  }

  .imagenApi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--Color, #FFFFFF);
    box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
    width: 40%;
    margin-left: 10px;
}

label#titulo-imagen {
  padding-bottom: 19px;
  font-size: 16px;
  font-weight: 800;
  color: #09244B;
}
 
.resultadoImagenes {
  width: 318px;
  height: 88%;
  border-radius: 4px;
}

.pagination button {
  background-color: gray;
  color: transparent;
  padding: 0px 4px;
  margin: 8px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 50%;
  left: 63.5%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  display: none;
  align-items: center;
}

#progress-bar {
  width: 100%;
  height: 20px;
  background-color: #D9D9D999;
  margin-top: 10px;
  position: relative;
  border-radius: 20px;
}

#progress {
  width: 0;
  height: 100%;
  background-color: #CC00FF;
  border-radius: 20px;
}


.generandoImg{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 16px;
  color: #09244B;
}

#output-image {
  display: none;
  max-width: 100%;
  height: auto;
}

button#generate-btn {
  display: flex;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #5D00B9;
  color: #FFFFF3;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
  
  textarea {
    width: 399px;
    height: 92%;
    resize: vertical; 
    padding: 5px; 
    border-radius: 4px;
    background: #FFF;
    font-size: 15px;
    color: #09244B80;
  }

  .texto{
    border-radius: 5px;
    background: var(--Color, #FFF);
  }

  .voz{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .acciones {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      padding: 14px 680px 14px 157px;
  }
  
  .botones {
    display: flex;
    justify-content: center;
  }
  
  .botonaudio1 {
    display: flex;
    width: 206px;
    height: 36px;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid #09244B;
    background: #FFFFF3;
    font-weight: 400;  
    cursor: pointer;  
    
  }
  
  #botonContinuar {
    padding: 9px 25px;
    border-radius: 4px;
    background: #5D00B9;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; 
  }

  img#botonAudio1 {
    width: 13px;
    height: 19px;
    fill: #00020A;
  }

  p#botonAudiotexto {
    color: #00020A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
}

  #miModalVoz{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

  }

  div#popupVoz {
    width: 234px;
    height: 113px;
    border-radius: 20px;
    background: var(--Fondo-pginas, #F2F2F2);
    box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
    
}

p.mensaje {
  display: flex;
  margin-top: 20px;
  color: #09244B;
  width: 225px;
  justify-content: center;
  font-weight: 700;
}

.ok {
  margin: 4% 0 0 39%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  color: #10C200;
}

  /*Footer*/
  .navbarfooter{
    border-top: 1px solid #09244B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #FAF9F9;
  }

  .footer {
    color: #09244B;
    font-size: 14px;
    font-weight: bold;
  }


.cerrar {
    cursor: pointer;
    float: right;
    font-size: 18px;
}

/*Estilo POPUP*/

.menuGrabar{
  margin: 40 0 0 410px;
  width: 510px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Fondo-pginas, #F2F2F2);
  box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
}

.cerrar{
  float: right;
  border: aliceblue;
}

h5{
  color: var(--Logo-2, #09244B);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  padding: 35px;
}

button#guardarAudio {
  display: flex;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #5D00B9;
  margin: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFF3;
}

button#volverGrabar {
  display: flex;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 2px solid #09244B;
  background: #FFFFF3;
  margin: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #09244B;
}

.reproductor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*POP UP */
#miModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/*REPRODUCTOR*/
button#playAudio {
  display: none;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #4CAF50;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

img.playRecord {
  width: 100%;
  height: 44px;
}

button {
  margin: 5px;
}

button#startRecord {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #5D00B9;
}

img.startRecording {
  width: 95%;
  height: 44px;
}

button#pauseRecord {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #09244B;
  background: #FFFFF3;
}

img.pauseRecording {
  width: 72%;
  height: 41px;
}

button#stopRecord {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #5D00B9;
}

img.stopRecording {
  width: 96%;
  height: 44px;
}

audio#audioPlayer {
  width: 82%;
  height: 29px;
}

 /* Estilo para personalizar la barra de progreso en WebKit */
 #audioPlayer::-webkit-media-controls-timeline {
  background: #D9D9D999; /* Fondo de la barra de progreso */
}

#audioPlayer::-webkit-media-slider-thumb {
  background: #CC00FF40; /* Color del punto y la barra de progreso */
}

#audioPlayer::-webkit-media-controls-play-button {
  background: url('/public/images/play\ circle_.svg') no-repeat; /* Cambia 'ruta-de-tu-icono.png' por la ruta de tu icono */
  background-size: contain;
}

/* Estilo para ocultar el tiempo de grabaci贸n */
#audioPlayer::-webkit-media-controls-current-time-display,
#audioPlayer::-webkit-media-controls-time-remaining-display {
    display: none;
}

/* Oculta el bot贸n de reproducci贸n (play) */
#audioPlayer::-webkit-media-controls-start-playback-button {
  display: none;
}

#audioPlayer::-webkit-media-controls-play-button {
  display: none;
}

#audioPlayer::-webkit-media-controls-panel {
  width: 100%;
}

    /*Media Querys*/  
    
    @media screen and (max-width: 768px) {
    
    .header .button{
      display: block;
      cursor: pointer;
      background-color: white;
    }

    .header .nav{
      width:100%;
      height:0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .header .nav.activo{
      height: 20vh;
      pointer-events: auto;
      margin: 38px 0px 0px 0px;
    }
    
    .header .ul{
      flex-direction: column;
    }
    
    .header .li{
      margin: 1rem 0;
    }

    a.sesion {
      display: none;
      color: #09244B;
    }

  
    img.imagenBarraP {
      padding: 0.5%;
      width: 100%;
      height: 5%;
  }

  .titulo{
    color:  #CC00FF;
    font-weight:600;
    letter-spacing: 0em;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    padding: 10 0 10 0;
    }
    
    .contenido {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      display: flex;
      margin: 14px 10 14px 10;
      height: 100%;
  }

    label.storytellin {
      color: #09244B80;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      height: auto;
      padding: 10px;
    }

    textarea {
      width: 100%;
      height: 290px;
      max-height: 100%;
      font-weight: 400;
      font-size: 14px;
    }

    
.imagenApi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  box-shadow: none;
  margin: 0 0 20 0;
}
   
    button#generate-btn {
      font-weight: 400;
      font-size: 14px;
    }

  button#crearImagenBtn {
    display: flex;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: #5D00B9;
    color: white;
    font-weight: 800;
}

.generandoImg{
  font-weight: 700;
  font-size: 14px;
  color: #09244B;
}

    img#parrafo{
      height: 100%;
      width: 24%;
    }

    .imagen {
      margin-right: 0; 
    }

    img#imagen {
      max-width: 100%; 
      height: auto; 
    }

    label#titulo-imagen {
    color: #09244B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .voz {
      color: #000;
      font-weight: 700;
      margin: 0 50 0 50;
      font-size: 18px;
      padding: 10px;
  }

    .acciones {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      font-weight: bold;
      padding: 0px;
    }
      /*GUARDAR AUDIO*/

    #miModal {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .menuGrabar {
    margin: -83 0 0 0;
    width: 345px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Fondo-pginas, #F2F2F2);
    box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
    }

  h5 {
    color: var(--Logo-2, #09244B);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 42px;
  }

  #contenidoModal {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.reproductor {
  width: 100%;
height: 17%;
}

  .reproductor button {
      margin: 5px;
  }

  img.playRecord {
  width: 100%;
  fill: #C0F;
  cursor: pointer;
  }

  img.startRecording {
    width: 100%;
    height: 30px;
}

img.pauseRecording {
  width: 100%;
  height: 30px;
}

button#stopRecord {
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 2px solid #09244B;
  background: #FFFFF3;
}

img.stopRecording {
  width: 100%;
  height: 30;
}

.botones {
  display: flex;
  justify-content: center;
  padding: 20 10 20 10;
}

#botonContinuar{
  margin: 20 0 20 0;
}

button#guardarAudio {
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #5D00B9;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin: 30 10 0 0;
  color: white;
}

button#volverGrabar {
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 2px solid #09244B;
  background: #FFFFF3;
  font-weight: 600;
  font-size: 14px;
  margin: 30 0 0 10;
}

  .menuVoz{
    width: 369px;
    height: 143px;
    border-radius: 20px;
    background: var(--Fondo-pginas, #F2F2F2);
    box-shadow: 0px 4px 4px 0px rgba(204, 0, 255, 0.25);
}

.cerrar{
    float: right;
    border: aliceblue;
}

h5{
    color: var(--Logo-2, #09244B);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 27px;
}

.ok {
    display: flex;
    justify-content: center;
    align-items: center;
}

a#icono {
  width: 30px;
  height: 30px;
  color: #10C200;
}

.resultadoImagenes {
    width: 350px;
    height: 89%;
    border-radius: 4px;
}

#popup {
  top: 40%;
  left: 49%;
  padding: 5px;
  position: absolute;
}

#progress {
  width: 0;
  height: 100%;
  background-color: #CC00FF;
  border-radius: 20px;
}


#progress-bar {
  height: 18px;
  margin-top: 22px;
}


.pagination button {
  background-color: gray;
  color: transparent;
  padding: 1px 5px;
  margin: 3px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

    .footer {
      margin: 10px 10px 25px 10px;
      font-size: 13px;
    }

    .navbarfooter {
      padding: 7px;
      width: 100%;
    }
}